.main-page {
    padding-top: 50px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.main-page-two {
    padding-top: 50px;
    max-width: 500px;
    margin: auto;
    text-align: left;

}

#question-display-page {

}

#score-display-page

header {
    margin: 5px;

}

.click-button {
    background-color: rgb(143, 55, 165);
    outline-color: rgb(143, 55, 165);
}

.choices-choices {
    margin-top: 5px;
    margin-bottom: 5px;
}